/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
            bindings = <
    &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
    &kp LSHFT &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
    &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &mo 1    &kp LSHFT  &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                     &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &mo 2    &kp SPACE  &kp TAB &kp BSLH &kp RALT
            >;
        };
        function_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
// |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
// |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
//                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
    &trans &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2              &trans &trans &trans &trans &trans &trans
    &trans &trans &trans     &bt BT_SEL 3 &bt BT_SEL 4 &trans                    &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;
        };
        sym_layer {
            bindings = <
    &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                           &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp EQUAL
    &kp TILDE  &kp EXCL &kp AT  &kp HASH  &kp DLLR &kp PRCNT                                     &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp LPAR &kp PLUS
    &kp PIPE  &kp BSLH &kp COLON &kp SEMI &kp MINUS &kp RBKT &kp RBRC &trans &trans &kp LBRC &kp LBKT &kp UNDER &kp COMMA  &kp DOT &kp FSLH &kp QMARK
                         &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;
        };
    };
};
